.footer{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
}

.footer__social{
    height: 30px;
    margin-bottom: 1rem;
}

.footer__social--list{
    display: flex;
}

.social-img{
    color: #FFF;
    height: 25px;
    margin-right: 1rem;
    width: 25px;
}

.footer__links{
    margin-bottom: 1rem;
    width: 100%;
}

.footer__links--list{
    display: flex;
    flex-wrap: wrap;
}

.footer__links--item{
    color: #808080;
    font-size: .8rem;
    margin-bottom: 1rem;
    width: calc(100% / 4);
}

.button--service-code{
    background: none;
    border: solid 1px #808080;
    color: #808080;
    height: 30px;
    margin-bottom: 1rem;
    width: 140px;
}

.footer__copyright{
    display: flex;
    width: 100%;
}

.copyright-text{
    color: #808080;
    font-size: .7rem;
    margin: 0 .25rem 1rem;
}

.copyright-icon{
    color: #808080;
    font-size: .7rem;
}

.copyright-icon::before{
    content: '\e90c';
}

@media screen and (max-width: 884px){
    .footer__links--item{
        width: calc(100% / 2);
    }
}