.header{
    background-color: transparent;
    /*height: 68px;*/
    height: 10vh;
    min-width: 100vw;
    position: absolute;
    width: 100vw;
    z-index: 2;
}

.header__container{
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}

.menu__container--navegation{
    align-items: center;
    display: flex;
}

.header__logo--img{
    box-sizing: border-box;
    margin: 0 2rem 0 0;
    /*width: 92px;*/
    width: 6.5vw;
}

.menu-mobile__button{
    display: none;
}

.menu-mobile__button--text{
    color:#FFF;
}

.menu-mobile__button--icon::before{
    color: #FFF;
    content: '\e5c5';
}

.menu-mobile__navegation--main{
    display: none;
}

.menu__navegation--main{
    color: #FFF;
    display: flex;
    /*font-size: .875rem;*/
    font-size: 2.5vh;
    justify-content: space-between;
    /*width: 360px;*/
    width: 30vw;
}

.menu__navegation--secondary{
    align-items: center;
    display: flex;
    justify-content: space-between;
    /*width: 180px;*/
    width: 14vw;
}

.menu__item--search::before{
    color: #FFF;
    content: '\e8b6';
    cursor: pointer;
    /*height: 32px;*/
    /*width: 32px;*/
}

.menu__item--notification::before{
    content: '\e7f4';
    color: #FFF;
    cursor: pointer;
    height: 32px;
    width: 32px;
}

.menu__item--account{
    align-items: center;
    cursor: pointer;
    display: flex;
    width: 72px;
}

.account--img{
    background-image: url(../images/account-img.png);
    border-radius: 3px;
    height: 32px;
    width: 32px;
}

.account--arrow{
    cursor: pointer;
}

.account--arrow-closed::before{
    content: '\e5c5';
    color: #FFF;
}

.account--arrow-opened::before{
    content: '\e5c7';
    color: #FFF;
}

.menu-secondary__container{
    background-color: #000;
    right: 3rem;
    position: absolute;
    width: 180px;
}

.menu-secondary__container-list{
    border-bottom: solid 1px #808080;
    padding: .75rem;
}

.menu-secondary__list{
    display: flex;
    flex-direction: column;
}

.menu-secondary__item{
    align-items: center;
    display: flex;
    margin: .5rem 0;
}

.menu-secondary__img{
    border-radius: 3px;
    margin-right: .75rem;
}

.menu-secondary__text{
    color: #FFF;
    font-size: .8rem;
    font-weight: 700;
}

.menu-secondary__svg{
    color: #808080;
    margin-right: .75rem;
}

.menu-secondary__svg.edit::before{
    content: '\e3c9';
}

.menu-secondary__svg.account::before{
    content: '\e7fd';
}

.menu-secondary__svg.help::before{
    content: '\e8fd';
}

.menu-secondary__container-list.exit{
    border: none;
}

.menu-secondary__text.exit{
    text-align: center;
}


@media screen and (max-width: 884px){
    .menu-mobile__button{
        align-items: center;
        display: flex;
    }

    .menu__navegation--main{
        display: none;
    }

    .menu-mobile__navegation--main{
        align-items: center;
        background-color: #000;
        border-top: solid 2px #FFF;
        display: flex;
        flex-direction: column;
        left: 0;
        position: absolute;
        top: 68px;
        width: 250px;
    }

    .menu-mobile__navegation--main li{
        color:#FFF;
        margin: 1rem 0;
    }

}


