.section-slider{
    background-image: linear-gradient(rgba(20,20,20,0) 0%, rgba(20,20,20,1) 7%, rgba(20,20,20,1) 100%);
    overflow: hidden;
    position: relative;
    top: -70px;
}

.slider__container{    
    height: 200px;
    margin: 20px 0;
    padding: 0 0 0 3rem;
}

.slider__container--title{
    align-items: baseline;
    display: flex;
}

.slider__title{
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 1rem;
}

.slider__title-all--container{
    align-items: center;
    display: flex;
}

.slider__title-all{
    color: #FFF;
    font-size: .8rem;
    font-weight: 700;
}

.slider__title-all--icon::after{
    color: #FFF;
    content: '\e409';
}

.slider__container--queue{
    display: flex;
    height: 200px;
}

.slider__arrow-container{
    align-items: center;
    display: flex;
    height: 170px;
    position: absolute;
    width: 60px;
    z-index: 1;
}

.slider__arrow-container.before{
    left: 0;
}

.slider__arrow-container.next{
    right: 0;
}

.slider__arrow{
    color:#FFF;
    font-size: 4.5rem;
    position: relative;
    
}

.slider__arrow.before::before{
    content: '\e408';    
}

.slider__arrow.next::before{
    content: '\e409';  
}

.slider{
    display: flex;
    height: 140px;
    margin-top: 1rem;
}

.slider__card{
    background-color: yellow;
    border-radius: 2px;
    height: 100%;
    margin: 0 3px;
    overflow: hidden;
    width: 245px;
}

.slider--queue{
    position: absolute;
}

.slider--queue .slider__card{
    background-color: blue;
}

/*.slider--current{
    left: 0;
    right: 0;
}*/

.slider--previous{
    right: 96.5%;
}

.slider--next{
    left: 96.5%;
}



/*APAGAR APÓS OS TESTES*/
.numero{
    font-size: 5rem;
    color: #FFF;
    text-align: center;
}